<%- include('../partials/header')%>
<main class="main">
    <button class="addListBtn button">Ajouter une liste</button>
    <div class="listBx">
        <template class="listTemplate">
            <ul class="list" id="">
                <li class="list__header">
                    <h2 class="list__title"></h2>
                    <form action="" class="list__updateListForm is-hidden" method="PATCH">
                        <div class="modalForm__inputBx">
                            <input type="text" class="modalForm__input" name="name">
                        </div>
                        <button href="" class="button close-button" value="V">V</button>
                    </form>
                    </div>
                    <div class="list__btns">
                        <svg class="list__editIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z" />
                        </svg>
                        <button class="list__deleteBtn button">X</button>
                    </div>
                </li>
                <li class="list__cardBx">
                    <ul class="list__cardList">
                        <template class="cardTemplate">
                            <li class="card">
                                <div class="card__contentBx">
                                    <h3 class="card__title"></h3>
                                    <form action="" class="card__updateCardForm is-hidden" method="PATCH">
                                        <div class="modalForm__inputBx">
                                            <input type="text" class="modalForm__input" name="title">
                                        </div>
                                        <button href="" class="button close-button" value="V">V</button>
                                    </form>
                                </div>
                                <div class="card__icons">
                                    <button class="button card__deleteBtn">X</button>
                                    <div class="card__editIcon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z" />
                                        </svg>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </li>
                <button class="list__addCardBtn button">Ajouter une carte</button>
            </ul>
        </template>
    </div>
    <div class="modals">
        <div class="modal modal__addList">
            <button href="" class="close-button button">X</button>
            <h3 class="modal__title">Ajouter une liste</h3>
            <form action="" class="modalForm createListForm" method="POST">
                <div class="modalForm__inputBx">
                    <label for="name" class="modalForm__label">Nom de la liste: </label>
                    <input type="text" class="modalForm__input" name="name">
                </div>
                <div class="modalForm__inputBx">
                    <label for="color" class="modalForm__label">Couleur de la liste: </label>
                    <input type="color" class="modalForm__input" name="color">
                </div>
                <div class="modalForm__inputBx">
                    <input type="hidden" class="modalForm__input" name="position">
                </div>
                <button class="modalForm__btn button">Valider</button>
            </form>
        </div>

        <div class="modal modal__addCard">
            <button href="" class="close-button button">X</button>
            <h3 class="modal__title">Ajouter une carte</h3>
            <form action="" class="modalForm createCardForm" method="POST">
                <div class="modalForm__inputBx">
                    <label for="title" class="modalForm__label">Titre de la carte: </label>
                    <input type="text" class="modalForm__input" name="title">
                </div>
                <div class="modalForm__inputBx">
                    <label for="status" class="modalForm__label">Séléctionnez un status: </label>
                    <select name="status_id" id="" class="modalForm__select">
                        <option value="" class="modalForm__option"></option>
                        <%for(const status of statusList) {%>
                        <option value="<%=status.id%>" class="modalForm__option"><%=status.name%></option>
                        <% } %>
                    </select>
                </div>
                <div class="modalForm__inputBx">
                    <input type="hidden" class="modalForm__input" name="position">
                </div>
                <button class="modalForm__btn button">Valider</button>
            </form>
        </div>
    </div>
</main>
<%- include('../partials/footer')%>